*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.navlink{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}

.nav{
    text-align: center;
}


/* card syling */

.card{
    width: 300px;
    padding: 15px;
    background-color: aliceblue;
    display: inline-block;
    margin: 60px 50px;
    box-shadow: 6px 6px 9px rgba(255, 0, 8, 0.8) ;
}

.card figure, 
.card figure img{
    width: 100%;
}

/* .title h2, .title p{
    display: inline-block;   
} */


.title{
    margin: 10px 0;
}


.title p{
    text-align: right;
}


.title h2{
    display: inline;
    font-size: 18px;
}

.card button{
    padding: 10px 30px;
    border-color: red;
    border-radius: 5px;
    background-color: lightblue;
    color: rgb(140, 80, 197);
}

.black{
    background-color: black;
    height: 100px;
    width: 100px;
    
    box-shadow: 200px 0px black, 400px 9;
}

.res{
    border: 3px solid red;
    height: 300px;
    width:  100px;
    max-width: 1000px;
    min-width: 500px;
    background-color: blue;
    
}

/* Adding background images */

.card-container{
    background-image: url('../HTML/assets/images/IMG1.JPG');
    background-size: contain;
    background-attachment: fixed;
    
}